{% extends 'layout.html' %}

{% block head %}
    <title>Sobre - Vktor Martins</title>
{% endblock %}

{% block content %}
    <div id="wrapper">
        <img src="https://avatars.githubusercontent.com/u/33494087?v=4" alt="Vktor Martins">
        <h1>Vktor Martins</h1>
        <h2>Desenvolvedor - Front-end</h2>
        <p>Estudante de programação full-stack</p>
    </div>
    <div id="links-footer" class="links">
        <a target="_blank" href="https://github.com/vktorbr">Github</a>
        <a target="_blank" href="https://www.instagram.com/cabravitu/">Instagram</a>
        <a target="_blank" href="https://www.linkedin.com/in/vktorbr/">Linkedin</a>
    </div>
{% endblock %}