{% extends 'layout.html' %}

{% block head %}
    <title>Portfolio - Vktor Martins</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}

    <div id="wrapper">
        <h1>Aulas</h1>
    </div>
    <section class="cards">
        <div class="card" id="iHUWeWD-rnk">
            <div class="card_image-container">
                <img src="https://img.youtube.com/vi/iHUWeWD-rnk/maxresdefault.jpg" alt="">
            </div>
            <div class="card_content">
                <p>Fui contratada por ir além do código - Alumni #39
                </p>
            </div>
            <div class="card_info">
                <p>41 min</p>
                <p class="card_price">Free</p>
            </div>
        </div>
        <div class="card" id="NjiAVTD5QYY">
            <div class="card_image-container">
                <img src="https://img.youtube.com/vi/NjiAVTD5QYY/maxresdefault.jpg" alt="">
            </div>
            <div class="card_content">
                <p>Nubank | A plataforma de 40 milhões de usuários - Proxy #08
                </p>
            </div>
            <div class="card_info">
                <p>60 min</p>
                <p class="card_price">Free</p>
            </div>
        </div>
        <div class="card" id="V_BUjfBBYGI">
            <div class="card_image-container">
                <img src="https://img.youtube.com/vi/V_BUjfBBYGI/maxresdefault.jpg" alt="">
            </div>
            <div class="card_content">
                <p>Teste E2E no React Native - Code/drops #101
                </p>
            </div>
            <div class="card_info">
                <p>120 min</p>
                <p class="card_price">Free</p>
            </div>
        </div>
        <div class="card" id="EN5GHtNOgx0">
            <div class="card_image-container">
                <img src="https://img.youtube.com/vi/EN5GHtNOgx0/maxresdefault.jpg" alt="">
            </div>
            <div class="card_content">
                <p>Vantagens do Tailwind | Templates e Slots - #PR 54
                </p>
            </div>
            <div class="card_info">
                <p>17 min</p>
                <p class="card_price">Free</p>
            </div>
        </div>
        <div class="card" id="qERs0M1HMO4">
            <div class="card_image-container">
                <img src="https://img.youtube.com/vi/qERs0M1HMO4/maxresdefault.jpg" alt="">
            </div>
            <div class="card_content">
                <p>Experiência de um dev freelancer na BossaBox! - Alumni #36
                </p>
            </div>
            <div class="card_info">
                <p>33 min</p>
                <p class="card_price">Free</p>
            </div>
        </div>
        <div class="card" id="QfcozcbDhNM">
            <div class="card_image-container">
                <img src="https://img.youtube.com/vi/QfcozcbDhNM/maxresdefault.jpg" alt="">
            </div>
            <div class="card_content">
                <p>Técnicas de estudo e aprendizado tradicional | Podcast FalaDev #11
                </p>
            </div>
            <div class="card_info">
                <p>43 min</p>
                <p class="card_price">Free</p>
            </div>
        </div>
    </section>
    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>
            <div class="modal-content">
                <iframe src="https://www.youtube.com/embed/" frameborder="0"></iframe>
            </div>
        </div>
    </div>
    <script src="scripts.js"></script>

{% endblock %}